.home {
    width: 100%;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    color: #97BC62FF;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2C5F2D;
    color: #f0f0f0;
  }
  
  .about h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: calc(16px + 10vmin);
    color: #97BC62FF;
    margin: 0px;
  }

  .about h2 span {
    color:#fff;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
    margin: 15px 0;
  }
  .prompt h3{
    color: #ffca28;
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
  }
  .prompt h3 span {
    color: #97BC62FF;
  }
  .prompt svg {
    font-size: 25px;
    margin: 5px;
    color: #97BC62FF;
  }

  .prompt svg {
    transition: all 0.2s ease-in;
  }
  .prompt svg:hover {
    color: rgb(179, 211, 135);
    transition: all 0.3s ease-in;
    cursor: pointer;
  }
  .about button{
    color: #97BC62FF;
    border: 1px solid #97BC62FF;
    padding: 8px 20px;
  }
  .about button:hover{
    border: 1px solid rgb(197, 233, 147);
  }
  .about p{
    font-size: 18px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
  }
  .Typewriter__wrapper{
    margin-left:5px;
    color: #97BC62FF;
  }
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .skills h1 {
    color: #2C5F2D;
  }

  .skills h2 {
    margin-bottom: 0;
    color: #2C5F2D;
    font-size: 32px;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }